

html, body {

	height: 100%;


}


.section-1, .section-2, .section-3, .section-4, .section-5 {

	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

	background-attachment: fixed;
	position: relative;


}


.caption {
position: absolute; /*Position absolute doesn't care about other things*/
background-color: white;

top: 50%;
left: 40%;
text-align: center;

}

.caption-text {

color: purple;
font-size: 25px;

}

.section-text {
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
	color: purple;
	font-size: 25px;

}



.section-1 {

background-image: url(../images/cat1.jpg);


}


.section-2 {

background-image: url(../images/cat2.jpg);
	
}


.section-3 {

background-image: url(../images/cat3.jpg);
	
}


.section-4 {

background-image: url(../images/cat4.jpg);
	
}


.section-5 {

background-image: url(../images/cat5.jpg);
	
}