html, body {

height: 100%;

}

.section-1, .section-2, .section-3, .section-4 {

	height: 100%;

	position: relative;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}



.section-1 {

	background-image: url(../images/image-01.jpg);
}

.section-2 {

	background-image: url(../images/image-02.jpg);
}

.section-3 {

	background-image: url(../images/image-03.jpg);
}

.section-4 {

	background-image: url(../images/image-04.jpg);
}

.caption {

	position: absolute;
	top: 50%;
	left: 0px;
	width: 100%;
	text-align: center;
}

.caption-text {

background-color: white;
font-family: "Helvetica Neue", sans-serif;
font-size: 50px;
padding: 10px 100px;
font-weight: bold;


}

.section-text {
padding: 50px 80px;

}

.center-img {

	width: 50%;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

}







